.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
  padding-bottom: 80px;
  color: #121214;
}

.cards__titles {
  width: 100%;
  max-width: 593px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 80px 0 40px;
}

.cards__title {
  width: 100%;
  max-width: 420px;
  margin: 0;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  line-height: 1.08;
}

.cards__text {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
}

.cards__list {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1216px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  gap: 40px 32px;
}

.card {
  width: 100%;
  max-width: 384px;
}

.card__image {
  background-color: #f3f7ff;
  width: 100%;
  max-width: 384px;
  max-height: 200px;
  padding: 32.5px 79.5px;
  object-fit: cover;
  box-sizing: border-box;
  margin-bottom: 24px;
  transition: 0.2s ease-in-out;
}

.card__image:hover {
  transform: scale(1.1);
}

.card__title {
  margin: 0;
  font-size: 1.12rem;
  line-height: 1.3;
}

.card__marca {
  margin: 12px 0 24px;
  color: #7ca2f4;
  font-size: 1rem;
  line-height: 1.08;
}

.card__preco {
  margin: 0;
  font-family: "Space Grotesk" sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.27;
}

@media screen and (max-width: 1279px) {
  .cards {
    padding-bottom: 56px;
  }

  .cards__titles {
    margin: 56px 0 40px;
    max-width: 520px;
    gap: 12px;
  }

  .cards__title {
    max-width: 320px;
    font-size: 1.5rem;
    line-height: 1.08;
  }

  .cards__text {
    font-size: 1rem;
    line-height: 1.4;
  }

  .cards__list {
    max-width: 704px;
  }

  .card {
    max-width: 336px;
    height: 326px;
  }

  .card__image {
    padding: 32.5px 55.5px;
  }

  .card__image:hover {
    transform: none;
  }
}

@media screen and (max-width: 767px) {
  .cards__title {
    max-width: 265px;
    font-size: 1.25rem;
    line-height: 1.08;
  }

  .card {
    max-width: 319px;
  }

  .cards__text {
    max-width: 319px;
    font-size: 0.875rem;
  }

  .cards__list {
    gap: 40px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card__image {
    max-width: 319px;
    padding: 32.5px 47px;
  }

  .card__image:hover {
    transform: none;
  }

  .cards__title {
    font-size: 1rem;
    line-height: 1.3;
  }
}
