.header {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 0;
  background-color: #f3f7ff;
  color: #000000;
  font-family: "Archivo", sans-serif;
}

.header__title {
  width: 100%;
  max-width: 316px;
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.08;
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 12px 0;
    max-height: 41px;
    box-sizing: border-box;
  }

  .header__title {
    max-width: 211px;
    font-size: 1rem;
    list-style: 1.08;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-height: 39px;
  }

  .header__title {
    max-width: 185px;
    font-size: 0.8rem;
    line-height: 1.08;
  }
}
