.hero {
  background-image: url(../../public/jordan-image.png);
  background-color: black;
  background-size: cover;
  background-position: 50% 11%;
  width: 100%;
  height: 400px;
  max-height: 400px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  font-family: "Archivo", "Arial", sans-serif;
  padding-left: 352px;
  box-sizing: border-box;
  position: relative;
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero__logo {
  width: 100%;
  max-width: 203px;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
}

.hero__title {
  width: 100%;
  max-width: 339px;
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.hero__text {
  width: 100%;
  max-width: 557px;
  margin: 0;
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.4;
  position: relative;
  z-index: 2;
}

.hero__first-line {
  display: block;
}

@media screen and (max-width: 1279px) {
  .hero {
    max-height: 350px;
    padding-left: 32px;
  }

  .hero__logo {
    max-width: 142px;
  }

  .hero__title {
    margin-bottom: 12px;
    max-width: 328px;
    font-size: 1.5rem;
    line-height: 1.08;
  }

  .hero__text {
    font-size: 1.12rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding: 0;
    align-items: center;
  }
  .hero__text {
    font-size: 1rem;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 328px;
    flex-wrap: nowrap;
  }

  .hero__first-line {
    display: inline;
  }

  .hero__items {
    width: 80%;
  }
}
